@using Milou.Deployer.Web.IisHost.Areas.NuGet
@using Milou.Deployer.Web.IisHost.Areas.Settings
@model Milou.Deployer.Web.IisHost.Areas.Settings.SettingsViewModel

<h2>Target read service: @Model.TargetReadService</h2>

<ul>
    <li><a href="/deployment/invalidate">Invalidate package cache</a></li>
    <li><a href="/@NuGetServerController.NugetServerBaseRoute">NuGet Server settings</a></li>
</ul>
