body {
    padding-bottom: 20px;
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/

.dl-horizontal dt { white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea { max-width: 280px; }

.wawsdeploy { color: blue; }

.miloudeployer { color: green; }

.organization-toggler, .project-toggler { cursor: pointer; }

.after-projects {
    border-bottom: 3px solid #7d7d7d;
    margin-bottom: 5px;
}

.target {
    border-top: 1px solid #7d7d7d;
    margin-bottom: 5px;
}

.ThisWeek {
    background-color: green;
    color: white;
}

.ThisMonth { background-color: #adff2f }

.ThisQuarter { background-color: orange }

.ThisYear {
    background-color: orangered;
    color: white;
}

.MoreThanAYear {
    background-color: red;
    color: white;
}

td, th { padding: 5px; }

.prerelease {
    color: #7d7d7d;
    font-style: italic;
}

.stable { color: green; }

@media (min-width: 1600px) {
    .container { width: 1570px; }
}

.level-Error {
    color: red;
    font-weight: bold;
}

.level-Information {
    color: green;
    font-weight: bold;
}

.level-Warning {
    color: orange;
    font-weight: bold;
}

.level-Debug {
    color: gray;
    font-weight: bold;
}

.level-Verbose {
    color: lightgray;
    font-weight: bold;
}

.input-field { border-bottom: 1px solid #7d7d7d; }

.input-field label {
    padding-bottom: 7px;
    padding-top: 7px;
    text-align: right;
    width: 200px;
}

.timestamp { color: lightgray; }

.deployment-status {
    display: inline-block;
    padding: 5px;
    text-transform: capitalize;
}

.failure {
    background-color: red;
    color: white;
}

.success {
    background-color: green;
    color: white;
}

.action-link {
    background-color: #7d7d7d;
    color: white;
    display: inline-block;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.action-link:link,
.action-link:visited,
.action-link:hover,
.action-link:active { color: white; }

.package-select {
    display: inline-block;
    max-width: 300px;
}

.package-select select { width: 300px; }

.deploy-status-latest {
    background-color: green;
    color: white;
    display: inline-block;
    padding: 5px;
}

.deploy-status-unavailable {
    color: #7d7d7d;
    font-style: italic;
}

.highlighted { font-weight: bold; }

.versionInfoLine { display: block; }

.deploy-button {
    display: inline-block;
}