body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.wawsdeploy {
    color: blue;
}

.miloudeployer {
    color: green;
}

.organization-toggler, .project-toggler {
    cursor: pointer;
}

.after-projects {
    border-bottom: 3px solid #7d7d7d;
    margin-bottom: 5px;
}

.target {
    border-top: 1px solid #7d7d7d;
    margin-bottom: 5px;
}

.ThisWeek {
    background-color: #006400;
    color: white;
}
.ThisMonth {
    background-color: #adff2f
}
.ThisQuarter {
   background-color: orange
}
.ThisYear {
    background-color: orangered;
    color: white;
}
.MoreThanAYear {
    background-color: red;
    color: white;
}

td, th {
    padding: 5px;
}

.prerelease {
    color: orangered;
}

.stable {
    color: green;
}

@media (min-width: 1600px) {
    .container { width: 1570px; }
}

.level-Error {
    color: red;
}

.level-Information {
    color: green;
}

.level-Warning {
    color: orange
}

.input-field {
    border-bottom: 1px solid #7d7d7d;
}

.input-field label {
    width: 200px;
    text-align: right;
    padding-bottom: 7px;
    padding-top: 7px;
}