<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>


    <system.webServer>
        <handlers>
            <remove name="aspNetCore" />
            <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
        </handlers>
        <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout">
            <environmentVariables>
                <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development_Local" />
                <environmentVariable name="urn:milou:deployer:web:settings-path" value="" />
                <environmentVariable name="urn:milou:deployer:web:logging:serilog:startup-log-file-path" value="%UserProfile%\Milou.Deployer.Web\LogFiles" />
                <environmentVariable name="urn:milou:deployer:web:logging:serilog:startup-log-file:enabled" value="true" />
                <environmentVariable name="urn:milou:deployer:jobs-directory" value="" />
                <environmentVariable name="NUGET_EXE_NO_PROMPT" value="true" />
            </environmentVariables>
        </aspNetCore>
    </system.webServer>
</configuration>