@using Milou.Deployer.Web.IisHost.Areas.Deployment
@using Milou.Deployer.Web.IisHost.Areas.Deployment.Middleware
@using Milou.Deployer.Web.IisHost.AspNetCore
@model Milou.Deployer.Web.IisHost.Areas.Deployment.ViewOutputModels.StatusViewOutputModel

<div id="messages"></div>

@section scripts
{
    <script src="/Scripts/signalr.js" type="text/javascript"></script>

    <script type="text/javascript">

        var messages = document.getElementById('messages');

        let connection = new signalR.HubConnectionBuilder()
            .withUrl('@DeploymentLogConstants.HubRoute')
            .build();

        connection.on('@DeploymentLoggingHub.MessageMethod',
            data => {

                console.log(data);

                const para = createSpanLogItemElement(data);

                messages.appendChild(para);

                window.scrollTo(0, document.body.scrollHeight);
            });

        function htmlEscape(str) {
            return str
                .replace(/&/g, '&amp;')
                .replace(/"/g, '&quot;')
                .replace(/'/g, '&#39;')
                .replace(/</g, '&lt;')
                .replace(/>/g, '&gt;');
        }

        connection.start().then(() => connection.invoke('subscribe', '@Model.DeploymentTargetId'));

    </script>
}