@using Milou.Deployer.Web.Core.Time
@using Milou.Deployer.Web.IisHost.Areas.Targets.Controllers
@model Milou.Deployer.Web.IisHost.Areas.Deployment.ViewOutputModels.MonitoringViewOutputModel
@inject ICustomClock Time;
<h2>Deployed monitored applications</h2>

<p>
    <span>
        <a class="action-link" href="@Url.RouteUrl(TargetConstants.CreateTargetGetRouteName)">Create new target</a>
    </span>
</p>

<div id="app">


<table>
    <thead>
    <tr>
        <th>Edit</th>
        <th>Target</th>
        <th>Status</th>
        <th>History</th>
        <th>Message</th>
        <th>
            <span style="white-space: nowrap">Version</span>
        </th>
        <th>Deployed</th>
        <th>
            <span style="white-space: nowrap">Environment type</span>
        </th>
        <th>Metadata</th>
        <th>Deploy</th>
    </tr>
    </thead>
    <tbody>
        <tr v-for="target in targets">
            <td>
                <a v-bind:href="target.editUrl">Edit</a>
            </td>
            <td>
                  <a v-bind:href="target.url" v-if="target.url">{{target.name}}</a>
            </td>
            <td>
                <span v-bind:class="target.statusKey">{{target.statusDisplayName}}</span>
            </td>
            <td>
                <a v-bind:href="target.historyUrl">History</a>
            </td>
            <td></td>
            <td>
              </td>
            <td class="traffic-light">

            </td>

            <td></td>
            <td>
            </td>
            <td>


            </td>
        </tr>
    }

    </tbody>
</table>

</div>
<script src="/Scripts/Status.js"></script>